.Navbar {
    padding: 10px;
    width: 100%;
}

#routerLink {
    text-decoration: none;
}

#Span {
    color: violet;
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 900;
    cursor: pointer;
}

#Span:hover {
    color: slateblue;
}

#navLink {
    color: violet;
}

#navLink:hover {
    color: slateblue;
}
